# Notebook to design the data importer function to create the collated dataframes

# Importing packages & setting global variables

In [2]:
import os
import pandas as pd

In [3]:
# setting directories for data i/o

data_directory = 'C:/Users/charl/Documents/CNT 2020/Evictions/cnt-evictions/data/'
hta_directory = 'hta_blocks/'
eviction_lab_directory = 'ev_lab_blocks/'

In [4]:
# updating pandas view settings

pd.set_option('display.max_columns', 999)

In [5]:
# Set selected states using state abbreviations

states_of_interest = ['ny','ca','il','tx','az','pa','fl','oh','nc','in','wa','co','dc']

# Pulling files names for HTA & Eviction Lab datasets

In [6]:
# setting empty lists for import
hta_data_files = []
ev_lab_files = []

In [7]:
# getting list of available hta_files

with os.scandir(data_directory+hta_directory) as entries:
    for entry in entries:
#         print(entry.name)
        hta_data_files.append(entry.name)

In [8]:
print(hta_data_files)

['htaindex_data_blkgrps_ak.csv', 'htaindex_data_blkgrps_al.csv', 'htaindex_data_blkgrps_ar.csv', 'htaindex_data_blkgrps_az.csv', 'htaindex_data_blkgrps_ca.csv', 'htaindex_data_blkgrps_co.csv', 'htaindex_data_blkgrps_ct.csv', 'htaindex_data_blkgrps_dc.csv', 'htaindex_data_blkgrps_de.csv', 'htaindex_data_blkgrps_fl.csv', 'htaindex_data_blkgrps_ga.csv', 'htaindex_data_blkgrps_hi.csv', 'htaindex_data_blkgrps_ia.csv', 'htaindex_data_blkgrps_id.csv', 'htaindex_data_blkgrps_il.csv', 'htaindex_data_blkgrps_in.csv', 'htaindex_data_blkgrps_ks.csv', 'htaindex_data_blkgrps_ky.csv', 'htaindex_data_blkgrps_la.csv', 'htaindex_data_blkgrps_ma.csv', 'htaindex_data_blkgrps_md.csv', 'htaindex_data_blkgrps_me.csv', 'htaindex_data_blkgrps_mi.csv', 'htaindex_data_blkgrps_mn.csv', 'htaindex_data_blkgrps_mo.csv', 'htaindex_data_blkgrps_ms.csv', 'htaindex_data_blkgrps_mt.csv', 'htaindex_data_blkgrps_nc.csv', 'htaindex_data_blkgrps_nd.csv', 'htaindex_data_blkgrps_ne.csv', 'htaindex_data_blkgrps_nh.csv', 'htaindex_data_blkgrps_nj.csv', 'htaindex_data_blkgrps_nm.csv', 'htaindex_data_blkgrps_nv.csv', 'htaindex_data_blkgrps_ny.csv', 'htaindex_data_blkgrps_oh.csv', 'htaindex_data_blkgrps_ok.csv', 'htaindex_data_blkgrps_or.csv', 'htaindex_data_blkgrps_pa.csv', 'htaindex_data_blkgrps_ri.csv', 'htaindex_data_blkgrps_sc.csv', 'htaindex_data_blkgrps_sd.csv', 'htaindex_data_blkgrps_tn.csv', 'htaindex_data_blkgrps_tx.csv', 'htaindex_data_blkgrps_ut.csv', 'htaindex_data_blkgrps_va.csv', 'htaindex_data_blkgrps_vt.csv', 'htaindex_data_blkgrps_wa.csv', 'htaindex_data_blkgrps_wi.csv', 'htaindex_data_blkgrps_wv.csv', 'htaindex_data_blkgrps_wy.csv']

In [9]:
# getting list of available ev_lab_files

with os.scandir(data_directory+eviction_lab_directory) as entries:
    for entry in entries:
        ev_lab_files.append(entry.name)

In [10]:
print(ev_lab_files)

['block_groups_ak.csv', 'block_groups_al.csv', 'block_groups_ar.csv', 'block_groups_az.csv', 'block_groups_ca.csv', 'block_groups_co.csv', 'block_groups_ct.csv', 'block_groups_dc.csv', 'block_groups_de.csv', 'block_groups_fl.csv', 'block_groups_ga.csv', 'block_groups_hi.csv', 'block_groups_ia.csv', 'block_groups_id.csv', 'block_groups_il.csv', 'block_groups_in.csv', 'block_groups_ks.csv', 'block_groups_ky.csv', 'block_groups_la.csv', 'block_groups_ma.csv', 'block_groups_md.csv', 'block_groups_me.csv', 'block_groups_mi.csv', 'block_groups_mn.csv', 'block_groups_mo.csv', 'block_groups_ms.csv', 'block_groups_mt.csv', 'block_groups_nc.csv', 'block_groups_nd.csv', 'block_groups_ne.csv', 'block_groups_nh.csv', 'block_groups_nj.csv', 'block_groups_nm.csv', 'block_groups_nv.csv', 'block_groups_ny.csv', 'block_groups_oh.csv', 'block_groups_ok.csv', 'block_groups_or.csv', 'block_groups_pa.csv', 'block_groups_ri.csv', 'block_groups_sc.csv', 'block_groups_sd.csv', 'block_groups_ut.csv', 'block_groups_va.csv', 'block_groups_vt.csv', 'block_groups_wa.csv', 'block_groups_wi.csv', 'block_groups_wv.csv', 'block_groups_wy.csv']

# Import H+T Data

In [11]:
all_hta_state_data = {}

for file in hta_data_files:
    state_abbrev = file.split('_')[3]
    state_abbrev = state_abbrev.split('.')[0]
    
    print('state: '+state_abbrev)
    
    all_hta_state_data[state_abbrev] = pd.read_csv(data_directory+hta_directory+file)
    all_hta_state_data[state_abbrev]['state'] = state_abbrev

state: ak
state: al
state: ar
state: az
state: ca
state: co
state: ct
state: dc
state: de
state: fl
state: ga
state: hi
state: ia
state: id
state: il
state: in
state: ks
state: ky
state: la
state: ma
state: md
state: me
state: mi
state: mn
state: mo
state: ms
state: mt
state: nc
state: nd
state: ne
state: nh
state: nj
state: nm
state: nv
state: ny
state: oh
state: ok
state: or
state: pa
state: ri
state: sc
state: sd
state: tn
state: tx
state: ut
state: va
state: vt
state: wa
state: wi
state: wv
state: wy

# Join all HTA datasets into one

In [12]:
all_hta_state_data['ny'].head()

,blkgrp,cbsa,blkgrps,population,households,land_acres,ht_ami,ht_80ami,ht_nmi,h_ami,h_80ami,h_nmi,t_ami,t_80ami,t_nmi,co2_per_hh_local,co2_per_acre_local,autos_per_hh_ami,autos_per_hh_80ami,autos_per_hh_nmi,vmt_per_hh_ami,vmt_per_hh_80ami,vmt_per_hh_nmi,pct_transit_commuters_ami,pct_transit_commuters_80ami,pct_transit_commuters_nmi,t_cost_ami,t_cost_80ami,t_cost_nmi,auto_ownership_cost_ami,auto_ownership_cost_80ami,auto_ownership_cost_nmi,vmt_cost_ami,vmt_cost_80ami,vmt_cost_nmi,transit_cost_ami,transit_cost_80ami,transit_cost_nmi,transit_trips_ami,transit_trips_80ami,transit_trips_nmi,compact_ndx,emp_ovrll_ndx,res_density,gross_hh_density,hh_gravity,frac_sfd,emp_gravity,emp_ndx,block_size,intersection_density,avg_block_perimeter_meters,h_cost,median_smoc,median_gross_rent,pct_owner_occupied_hu,pct_renter_occupied_hu,state
0,"""360450615001""","""Watertown-Fort Drum, NY""",1.0,457.0,268.0,98.25,43.0,51.0,40.0,22.0,27.0,20.0,22.0,23.0,20.0,7.06,19.25,1.44,1.0,1.0,18425.0,16256.0,18838.0,0.0,0.0,0.0,10716.0,9226.0,10973.0,7862.0,6708.0,8054.0,2846.0,2512.0,2910.0,8.0,6.0,9.0,6.0,5.0,7.0,8.7,7.6,4.14,2.73,10400.0,25.0,15241.0,87.0,6.0,221.0,733,901.0,NaN,901.0,23.0,77.0,ny
1,"""360050516002""","""New York-Newark-Jersey City, NY-NJ-PA""",1.0,1481.0,513.0,63.34,60.0,71.0,73.0,42.0,52.0,52.0,18.0,19.0,20.0,7.80,63.14,1.61,1.0,2.0,17047.0,14537.0,16278.0,14.0,14.0,14.0,12006.0,10194.0,10972.0,9204.0,7769.0,8290.0,2472.0,2107.0,2359.0,331.0,318.0,323.0,245.0,235.0,239.0,7.6,9.3,9.80,8.10,58001.0,55.0,55180.0,89.0,5.0,263.0,666,2347.0,2800.0,1384.0,68.0,32.0,ny
2,"""360050019004""","""New York-Newark-Jersey City, NY-NJ-PA""",1.0,0.0,0.0,204.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.4,NaN,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,1139,NaN,NaN,NaN,NaN,NaN,ny
3,"""360530302001""","""Syracuse, NY""",1.0,727.0,347.0,6438.76,60.0,72.0,60.0,31.0,39.0,31.0,29.0,33.0,29.0,9.91,0.53,2.15,2.0,2.0,25234.0,22422.0,26009.0,0.0,0.0,0.0,15582.0,14244.0,15895.0,11684.0,10780.0,11877.0,3898.0,3464.0,4018.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,2.2,0.24,0.05,2461.0,86.0,2477.0,83.0,124.0,NaN,2641,1384.0,1384.0,NaN,93.0,7.0,ny
4,"""360050516004""","""New York-Newark-Jersey City, NY-NJ-PA""",1.0,879.0,552.0,54.65,48.0,57.0,58.0,31.0,39.0,39.0,17.0,18.0,19.0,4.93,49.80,1.51,1.0,1.0,15945.0,13619.0,15205.0,15.0,15.0,15.0,11307.0,9609.0,10311.0,8636.0,7288.0,7755.0,2312.0,1974.0,2204.0,359.0,347.0,353.0,266.0,257.0,261.0,8.5,9.3,13.11,10.10,57647.0,44.0,55442.0,90.0,4.0,211.0,589,1759.0,2186.0,1353.0,49.0,51.0,ny

In [13]:
for key, df in all_hta_state_data.items():
    df['blkgrp'].replace(regex=True,inplace=True,to_replace='"',value=r'')
    df['cbsa'].replace(regex=True,inplace=True,to_replace='"',value=r'')

In [14]:
all_hta_state_data['ny'].head()

,blkgrp,cbsa,blkgrps,population,households,land_acres,ht_ami,ht_80ami,ht_nmi,h_ami,h_80ami,h_nmi,t_ami,t_80ami,t_nmi,co2_per_hh_local,co2_per_acre_local,autos_per_hh_ami,autos_per_hh_80ami,autos_per_hh_nmi,vmt_per_hh_ami,vmt_per_hh_80ami,vmt_per_hh_nmi,pct_transit_commuters_ami,pct_transit_commuters_80ami,pct_transit_commuters_nmi,t_cost_ami,t_cost_80ami,t_cost_nmi,auto_ownership_cost_ami,auto_ownership_cost_80ami,auto_ownership_cost_nmi,vmt_cost_ami,vmt_cost_80ami,vmt_cost_nmi,transit_cost_ami,transit_cost_80ami,transit_cost_nmi,transit_trips_ami,transit_trips_80ami,transit_trips_nmi,compact_ndx,emp_ovrll_ndx,res_density,gross_hh_density,hh_gravity,frac_sfd,emp_gravity,emp_ndx,block_size,intersection_density,avg_block_perimeter_meters,h_cost,median_smoc,median_gross_rent,pct_owner_occupied_hu,pct_renter_occupied_hu,state
0,360450615001,"Watertown-Fort Drum, NY",1.0,457.0,268.0,98.25,43.0,51.0,40.0,22.0,27.0,20.0,22.0,23.0,20.0,7.06,19.25,1.44,1.0,1.0,18425.0,16256.0,18838.0,0.0,0.0,0.0,10716.0,9226.0,10973.0,7862.0,6708.0,8054.0,2846.0,2512.0,2910.0,8.0,6.0,9.0,6.0,5.0,7.0,8.7,7.6,4.14,2.73,10400.0,25.0,15241.0,87.0,6.0,221.0,733,901.0,NaN,901.0,23.0,77.0,ny
1,360050516002,"New York-Newark-Jersey City, NY-NJ-PA",1.0,1481.0,513.0,63.34,60.0,71.0,73.0,42.0,52.0,52.0,18.0,19.0,20.0,7.80,63.14,1.61,1.0,2.0,17047.0,14537.0,16278.0,14.0,14.0,14.0,12006.0,10194.0,10972.0,9204.0,7769.0,8290.0,2472.0,2107.0,2359.0,331.0,318.0,323.0,245.0,235.0,239.0,7.6,9.3,9.80,8.10,58001.0,55.0,55180.0,89.0,5.0,263.0,666,2347.0,2800.0,1384.0,68.0,32.0,ny
2,360050019004,"New York-Newark-Jersey City, NY-NJ-PA",1.0,0.0,0.0,204.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.4,NaN,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,1139,NaN,NaN,NaN,NaN,NaN,ny
3,360530302001,"Syracuse, NY",1.0,727.0,347.0,6438.76,60.0,72.0,60.0,31.0,39.0,31.0,29.0,33.0,29.0,9.91,0.53,2.15,2.0,2.0,25234.0,22422.0,26009.0,0.0,0.0,0.0,15582.0,14244.0,15895.0,11684.0,10780.0,11877.0,3898.0,3464.0,4018.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,2.2,0.24,0.05,2461.0,86.0,2477.0,83.0,124.0,NaN,2641,1384.0,1384.0,NaN,93.0,7.0,ny
4,360050516004,"New York-Newark-Jersey City, NY-NJ-PA",1.0,879.0,552.0,54.65,48.0,57.0,58.0,31.0,39.0,39.0,17.0,18.0,19.0,4.93,49.80,1.51,1.0,1.0,15945.0,13619.0,15205.0,15.0,15.0,15.0,11307.0,9609.0,10311.0,8636.0,7288.0,7755.0,2312.0,1974.0,2204.0,359.0,347.0,353.0,266.0,257.0,261.0,8.5,9.3,13.11,10.10,57647.0,44.0,55442.0,90.0,4.0,211.0,589,1759.0,2186.0,1353.0,49.0,51.0,ny

In [15]:
# Concating all HTA focus datasets together

aggregated_hta_df = pd.concat(all_hta_state_data.values(), ignore_index = True)

aggregated_hta_df.head()

,blkgrp,cbsa,blkgrps,population,households,land_acres,ht_ami,ht_80ami,ht_nmi,h_ami,h_80ami,h_nmi,t_ami,t_80ami,t_nmi,co2_per_hh_local,co2_per_acre_local,autos_per_hh_ami,autos_per_hh_80ami,autos_per_hh_nmi,vmt_per_hh_ami,vmt_per_hh_80ami,vmt_per_hh_nmi,pct_transit_commuters_ami,pct_transit_commuters_80ami,pct_transit_commuters_nmi,t_cost_ami,t_cost_80ami,t_cost_nmi,auto_ownership_cost_ami,auto_ownership_cost_80ami,auto_ownership_cost_nmi,vmt_cost_ami,vmt_cost_80ami,vmt_cost_nmi,transit_cost_ami,transit_cost_80ami,transit_cost_nmi,transit_trips_ami,transit_trips_80ami,transit_trips_nmi,compact_ndx,emp_ovrll_ndx,res_density,gross_hh_density,hh_gravity,frac_sfd,emp_gravity,emp_ndx,block_size,intersection_density,avg_block_perimeter_meters,h_cost,median_smoc,median_gross_rent,pct_owner_occupied_hu,pct_renter_occupied_hu,state
0,021980003001,NaN,1.0,13.0,13.0,125986.35,NaN,NaN,NaN,NaN,NaN,NaN,28.0,32.0,26.0,NaN,NaN,1.85,2.0,2.0,22344.0,20488.0,22252.0,9.0,9.0,9.0,13795.0,12388.0,13984.0,10046.0,8932.0,10249.0,3583.0,3287.0,3568.0,166.0,170.0,166.0,141.0,145.0,141.0,0.2,10.0,0.26,0.0,35.0,81.0,42.0,58.0,4666.0,0.0,11177,NaN,NaN,NaN,54.0,46.0,ak
1,020160001001,NaN,1.0,1065.0,264.0,2112085.70,17.0,21.0,26.0,14.0,18.0,22.0,3.0,3.0,4.0,4.71,0.0,0.00,0.0,0.0,11859.0,10582.0,10303.0,33.0,32.0,32.0,2506.0,2279.0,2229.0,0.0,0.0,0.0,1902.0,1698.0,1652.0,604.0,581.0,577.0,514.0,495.0,491.0,2.1,10.0,3.64,0.0,7.0,31.0,8.0,0.0,2494.0,0.0,18719,997.0,1042.0,934.0,58.0,42.0,ak
2,022400004004,NaN,1.0,391.0,102.0,635721.77,40.0,48.0,46.0,27.0,34.0,32.0,12.0,14.0,14.0,NaN,NaN,0.84,1.0,1.0,17073.0,15309.0,16331.0,16.0,16.0,15.0,7804.0,6918.0,7498.0,4776.0,4180.0,4606.0,2739.0,2455.0,2619.0,289.0,283.0,274.0,246.0,241.0,233.0,5.4,10.0,61.52,0.0,29.0,7.0,32.0,51.0,4574.0,0.0,8414,1428.0,NaN,1428.0,0.0,100.0,ak
3,021300001005,"Ketchikan, AK",1.0,27.0,17.0,3087975.81,NaN,NaN,NaN,NaN,NaN,NaN,29.0,33.0,33.0,NaN,NaN,2.59,2.0,3.0,23806.0,21338.0,23882.0,8.0,7.0,7.0,18701.0,16843.0,17763.0,14783.0,13328.0,13837.0,3819.0,3422.0,3830.0,99.0,93.0,96.0,229.0,215.0,223.0,0.0,10.0,0.03,0.0,36.0,100.0,45.0,58.0,5079.0,0.0,18437,NaN,NaN,NaN,100.0,0.0,ak
4,021850003001,NaN,1.0,3056.0,0.0,2030031.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,NaN,0.01,0.0,NaN,NaN,NaN,NaN,NaN,0.0,26490,NaN,NaN,NaN,NaN,NaN,ak

In [16]:
aggregated_hta_df.groupby('cbsa')['population'].sum().sort_values(ascending=False)

cbsa
New York-Newark-Jersey City, NY-NJ-PA    19979950.0
Los Angeles-Long Beach-Anaheim, CA       13154457.0
Chicago-Naperville-Elgin, IL-IN-WI        9534008.0
Dallas-Fort Worth-Arlington, TX           6833420.0
Houston-The Woodlands-Sugar Land, TX      6346653.0
                                            ...
Vermillion, SD                              14011.0
Ketchikan, AK                               13699.0
Lamesa, TX                                  13542.0
Vernon, TX                                  13158.0
Craig, CO                                   13117.0
Name: population, Length: 917, dtype: float64

# Identify Top 20 CBSAs by Population

In [17]:
cbsa_by_pop_df = aggregated_hta_df.groupby('cbsa').agg({'population':['sum'],'blkgrp':['count'],'households':['sum']}).reset_index()

In [18]:
cbsa_by_pop_df.columns

MultiIndex([(      'cbsa',      ''),
            ('population',   'sum'),
            (    'blkgrp', 'count'),
            ('households',   'sum')],
           )

In [19]:
cbsa_by_pop_df.columns = ['cbsa','pop_sum','blkgrp_count','household_sum']

In [20]:
cbsa_by_pop_df.sort_values(by='pop_sum',ascending=False,inplace=True)

In [21]:
cbsa_by_pop_df.reset_index(drop=True,inplace=True)

In [22]:
cbsa_by_pop_df.head()

,cbsa,pop_sum,blkgrp_count,household_sum
0,"New York-Newark-Jersey City, NY-NJ-PA",19979950.0,14677,7121206.0
1,"Los Angeles-Long Beach-Anaheim, CA",13154457.0,8243,4272422.0
2,"Chicago-Naperville-Elgin, IL-IN-WI",9534008.0,6585,3448499.0
3,"Dallas-Fort Worth-Arlington, TX",6833420.0,4163,2407330.0
4,"Houston-The Woodlands-Sugar Land, TX",6346653.0,3018,2168642.0

In [23]:
# cbsa_by_pop_df.drop(['index'],axis=1,inplace=True)

In [24]:
top_20_cbsa = cbsa_by_pop_df.nlargest(20, 'pop_sum')['cbsa'].to_list()

In [25]:
top_20_cbsa

['New York-Newark-Jersey City, NY-NJ-PA',
 'Los Angeles-Long Beach-Anaheim, CA',
 'Chicago-Naperville-Elgin, IL-IN-WI',
 'Dallas-Fort Worth-Arlington, TX',
 'Houston-The Woodlands-Sugar Land, TX',
 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD',
 'Washington-Arlington-Alexandria, DC-VA-MD-WV',
 'Miami-Fort Lauderdale-West Palm Beach, FL',
 'Atlanta-Sandy Springs-Roswell, GA',
 'Boston-Cambridge-Newton, MA-NH',
 'San Francisco-Oakland-Hayward, CA',
 'Phoenix-Mesa-Scottsdale, AZ',
 'Riverside-San Bernardino-Ontario, CA',
 'Detroit-Warren-Dearborn, MI',
 'Seattle-Tacoma-Bellevue, WA',
 'Minneapolis-St. Paul-Bloomington, MN-WI',
 'San Diego-Carlsbad, CA',
 'Tampa-St. Petersburg-Clearwater, FL',
 'St. Louis, MO-IL',
 'Baltimore-Columbia-Towson, MD']

# Select HTA blockgroup level data based on top 20 CBSA

In [26]:
top_20_cbsa_hta_df = aggregated_hta_df.loc[aggregated_hta_df['cbsa'].isin(top_20_cbsa)].reset_index(drop=True,inplace=False)

In [27]:
top_20_cbsa_hta_df['blkgrp'].count()

77993

In [28]:
top_20_cbsa_hta_df.head()

,blkgrp,cbsa,blkgrps,population,households,land_acres,ht_ami,ht_80ami,ht_nmi,h_ami,h_80ami,h_nmi,t_ami,t_80ami,t_nmi,co2_per_hh_local,co2_per_acre_local,autos_per_hh_ami,autos_per_hh_80ami,autos_per_hh_nmi,vmt_per_hh_ami,vmt_per_hh_80ami,vmt_per_hh_nmi,pct_transit_commuters_ami,pct_transit_commuters_80ami,pct_transit_commuters_nmi,t_cost_ami,t_cost_80ami,t_cost_nmi,auto_ownership_cost_ami,auto_ownership_cost_80ami,auto_ownership_cost_nmi,vmt_cost_ami,vmt_cost_80ami,vmt_cost_nmi,transit_cost_ami,transit_cost_80ami,transit_cost_nmi,transit_trips_ami,transit_trips_80ami,transit_trips_nmi,compact_ndx,emp_ovrll_ndx,res_density,gross_hh_density,hh_gravity,frac_sfd,emp_gravity,emp_ndx,block_size,intersection_density,avg_block_perimeter_meters,h_cost,median_smoc,median_gross_rent,pct_owner_occupied_hu,pct_renter_occupied_hu,state
0,040130609041,"Phoenix-Mesa-Scottsdale, AZ",1.0,603.0,161.0,161.70,42.0,50.0,42.0,19.0,24.0,19.0,23.0,26.0,23.0,8.63,8.60,1.67,2.0,2.0,20079.0,17748.0,19925.0,3.0,4.0,3.0,12338.0,11151.0,12322.0,9106.0,8292.0,9115.0,3220.0,2846.0,3195.0,12.0,13.0,12.0,13.0,14.0,13.0,7.5,5.3,2.20,1.00,25032.0,55.0,14458.0,88.0,10.0,109.0,828,860.0,1039.0,742.0,40.0,60.0,az
1,040131099003,"Phoenix-Mesa-Scottsdale, AZ",1.0,2283.0,550.0,208.83,42.0,50.0,42.0,19.0,24.0,19.0,23.0,26.0,23.0,8.01,21.10,1.72,2.0,2.0,18699.0,16734.0,18581.0,6.0,7.0,6.0,12399.0,10982.0,12316.0,9379.0,8276.0,9315.0,2999.0,2683.0,2980.0,22.0,23.0,22.0,24.0,26.0,24.0,7.0,5.0,9.84,2.63,34717.0,70.0,36272.0,92.0,8.0,187.0,727,861.0,918.0,799.0,52.0,48.0,az
2,040130610324,"Phoenix-Mesa-Scottsdale, AZ",1.0,824.0,220.0,117.03,52.0,62.0,52.0,27.0,33.0,27.0,25.0,29.0,25.0,11.31,21.25,1.86,2.0,2.0,22311.0,19998.0,22158.0,2.0,2.0,2.0,13682.0,12387.0,13645.0,10098.0,9174.0,10086.0,3578.0,3207.0,3553.0,6.0,6.0,6.0,7.0,7.0,7.0,5.7,2.2,3.44,1.88,18034.0,88.0,8027.0,87.0,9.0,283.0,1114,1191.0,1432.0,880.0,56.0,44.0,az
3,040132169013,"Phoenix-Mesa-Scottsdale, AZ",1.0,201.0,130.0,72.82,58.0,68.0,57.0,34.0,42.0,34.0,24.0,26.0,24.0,5.01,8.94,1.76,2.0,2.0,20321.0,17604.0,20073.0,3.0,3.0,3.0,12837.0,11259.0,12708.0,9567.0,8425.0,9477.0,3259.0,2823.0,3219.0,12.0,11.0,12.0,13.0,12.0,13.0,5.9,7.1,28.33,1.79,24598.0,54.0,39081.0,91.0,5.0,220.0,707,1514.0,1514.0,NaN,88.0,12.0,az
4,040210012001,"Phoenix-Mesa-Scottsdale, AZ",1.0,2653.0,827.0,30248.83,55.0,65.0,54.0,26.0,32.0,26.0,29.0,33.0,29.0,10.62,0.29,2.10,2.0,2.0,25504.0,22972.0,25294.0,0.0,0.0,0.0,15530.0,14294.0,15487.0,11440.0,10610.0,11431.0,4090.0,3684.0,4056.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.2,0.79,0.03,1793.0,74.0,1740.0,83.0,121.0,16.0,2336,1149.0,1293.0,907.0,63.0,37.0,az

In [29]:
hta_analysis_df = top_20_cbsa_hta_df.copy()

# Eviction Lab Import (Individaul Files)

In [64]:
ev_lab_files

['block_groups_ak.csv',
 'block_groups_al.csv',
 'block_groups_ar.csv',
 'block_groups_az.csv',
 'block_groups_ca.csv',
 'block_groups_co.csv',
 'block_groups_ct.csv',
 'block_groups_dc.csv',
 'block_groups_de.csv',
 'block_groups_fl.csv',
 'block_groups_ga.csv',
 'block_groups_hi.csv',
 'block_groups_ia.csv',
 'block_groups_id.csv',
 'block_groups_il.csv',
 'block_groups_in.csv',
 'block_groups_ks.csv',
 'block_groups_ky.csv',
 'block_groups_la.csv',
 'block_groups_ma.csv',
 'block_groups_md.csv',
 'block_groups_me.csv',
 'block_groups_mi.csv',
 'block_groups_mn.csv',
 'block_groups_mo.csv',
 'block_groups_ms.csv',
 'block_groups_mt.csv',
 'block_groups_nc.csv',
 'block_groups_nd.csv',
 'block_groups_ne.csv',
 'block_groups_nh.csv',
 'block_groups_nj.csv',
 'block_groups_nm.csv',
 'block_groups_nv.csv',
 'block_groups_ny.csv',
 'block_groups_oh.csv',
 'block_groups_ok.csv',
 'block_groups_or.csv',
 'block_groups_pa.csv',
 'block_groups_ri.csv',
 'block_groups_sc.csv',
 'block_groups_sd.csv',
 'block_groups_ut.csv',
 'block_groups_va.csv',
 'block_groups_vt.csv',
 'block_groups_wa.csv',
 'block_groups_wi.csv',
 'block_groups_wv.csv',
 'block_groups_wy.csv']

In [66]:
ev_lab_state_data = {}

for file in ev_lab_files:
    state_abbrev = file.split('_')[2]
    state_abbrev = state_abbrev.split('.')[0]
    
    ev_lab_state_data[state] = pd.read_csv(data_directory+eviction_lab_directory+file,low_memory=False)
    print('state imported: '+state_abbrev)

state imported: ak
state imported: al
state imported: ar
state imported: az
state imported: ca
state imported: co
state imported: ct
state imported: dc
state imported: de
state imported: fl
state imported: ga
state imported: hi
state imported: ia
state imported: id
state imported: il
state imported: in
state imported: ks
state imported: ky
state imported: la
state imported: ma
state imported: md
state imported: me
state imported: mi
state imported: mn
state imported: mo
state imported: ms
state imported: mt
state imported: nc
state imported: nd
state imported: ne
state imported: nh
state imported: nj
state imported: nm
state imported: nv
state imported: ny
state imported: oh
state imported: ok
state imported: or
state imported: pa
state imported: ri
state imported: sc
state imported: sd
state imported: ut
state imported: va
state imported: vt
state imported: wa
state imported: wi
state imported: wv
state imported: wy

In [68]:
aggregated_ev_lab_df = pd.concat(ev_lab_state_data.values(), ignore_index = True).reset_index(drop=True)

aggregated_ev_lab_df.head()

,GEOID,year,name,parent-location,population,poverty-rate,renter-occupied-households,pct-renter-occupied,median-gross-rent,median-household-income,median-property-value,rent-burden,pct-white,pct-af-am,pct-hispanic,pct-am-ind,pct-asian,pct-nh-pi,pct-multiple,pct-other,eviction-filings,evictions,eviction-rate,eviction-filing-rate,low-flag,imputed,subbed
0,560019627001,2000,9627.1,"Albany County, Wyoming",1848.04,9.28,111.0,16.3,458.0,41208.04,148999.41,14.8,89.56,0.38,7.14,0.6,1.14,0.05,1.14,0.0,0.0,0.0,0.00,0.00,1,0,0
1,560019627001,2001,9627.1,"Albany County, Wyoming",1848.04,9.28,115.0,16.3,458.0,41208.04,148999.41,14.8,89.56,0.38,7.14,0.6,1.14,0.05,1.14,0.0,0.0,0.0,0.00,0.00,1,0,0
2,560019627001,2002,9627.1,"Albany County, Wyoming",1848.04,9.28,119.0,16.3,458.0,41208.04,148999.41,14.8,89.56,0.38,7.14,0.6,1.14,0.05,1.14,0.0,0.0,0.0,0.00,0.00,1,0,0
3,560019627001,2003,9627.1,"Albany County, Wyoming",1848.04,9.28,123.0,16.3,458.0,41208.04,148999.41,14.8,89.56,0.38,7.14,0.6,1.14,0.05,1.14,0.0,4.0,3.0,2.44,3.25,1,0,0
4,560019627001,2004,9627.1,"Albany County, Wyoming",1848.04,9.28,127.0,16.3,458.0,41208.04,148999.41,14.8,89.56,0.38,7.14,0.6,1.14,0.05,1.14,0.0,2.0,2.0,1.57,1.57,1,0,0

In [69]:
aggregated_ev_lab_df.count()

GEOID                         6970
year                          6970
name                          6970
parent-location               6970
population                    6970
poverty-rate                  6970
renter-occupied-households    6970
pct-renter-occupied           6970
median-gross-rent             6526
median-household-income       6939
median-property-value         6839
rent-burden                   6625
pct-white                     6970
pct-af-am                     6970
pct-hispanic                  6970
pct-am-ind                    6970
pct-asian                     6970
pct-nh-pi                     6970
pct-multiple                  6970
pct-other                     6970
eviction-filings              4605
evictions                     4605
eviction-rate                 4605
eviction-filing-rate          4605
low-flag                      6970
imputed                       6970
subbed                        6970
dtype: int64

In [70]:
aggregated_ev_lab_df.nunique()

GEOID                          410
year                            17
name                           326
parent-location                 23
population                    1227
poverty-rate                   976
renter-occupied-households     575
pct-renter-occupied           1376
median-gross-rent              862
median-household-income       1497
median-property-value         1237
rent-burden                    465
pct-white                     1196
pct-af-am                      331
pct-hispanic                  1042
pct-am-ind                     368
pct-asian                      300
pct-nh-pi                       70
pct-multiple                   442
pct-other                       85
eviction-filings                47
evictions                       34
eviction-rate                  444
eviction-filing-rate           561
low-flag                         2
imputed                          2
subbed                           1
dtype: int64

In [74]:
aggregated_ev_lab_2016_df = aggregated_ev_lab_df.loc[aggregated_ev_lab_df['year']==2016].copy()

In [82]:
aggregated_ev_lab_2016_df.head()

,GEOID,year,name,parent-location,population,poverty-rate,renter-occupied-households,pct-renter-occupied,median-gross-rent,median-household-income,median-property-value,rent-burden,pct-white,pct-af-am,pct-hispanic,pct-am-ind,pct-asian,pct-nh-pi,pct-multiple,pct-other,eviction-filings,evictions,eviction-rate,eviction-filing-rate,low-flag,imputed,subbed
16,5.600196e+11,2016,9627.1,"Albany County, Wyoming",2661.0,6.14,175.0,16.24,938.0,62083.0,282900.0,23.5,87.45,0.41,8.38,0.83,1.92,0.00,1.01,0.00,NaN,NaN,NaN,NaN,0,0,0
33,5.600196e+11,2016,9627.2,"Albany County, Wyoming",848.0,22.61,203.0,33.13,679.0,57222.0,153700.0,31.2,84.79,0.35,13.44,1.42,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0,0,0
50,5.600196e+11,2016,9628.1,"Albany County, Wyoming",1483.0,7.85,212.0,34.26,872.0,44697.0,169200.0,34.9,96.83,0.00,0.00,0.00,0.00,0.00,0.67,2.49,NaN,NaN,NaN,NaN,0,0,0
67,5.600196e+11,2016,9628.2,"Albany County, Wyoming",2087.0,29.46,457.0,44.27,888.0,42347.0,125500.0,33.8,72.83,0.00,17.06,8.53,0.00,0.05,1.53,0.00,NaN,NaN,NaN,NaN,0,0,0
84,5.600196e+11,2016,9629.1,"Albany County, Wyoming",1068.0,11.44,190.0,22.71,862.0,40865.0,12500.0,24.1,65.54,0.09,34.36,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0,0,0

# Eviction Data (single bulk file)

In [84]:
ev_lab_bulk_df = pd.read_csv(data_directory+'block_groups_usa.csv',low_memory=False)

In [85]:
ev_lab_bulk_df.head()

,GEOID,year,name,parent-location,population,poverty-rate,renter-occupied-households,pct-renter-occupied,median-gross-rent,median-household-income,median-property-value,rent-burden,pct-white,pct-af-am,pct-hispanic,pct-am-ind,pct-asian,pct-nh-pi,pct-multiple,pct-other,eviction-filings,evictions,eviction-rate,eviction-filing-rate,low-flag,imputed,subbed
0,10010201001,2000,201.1,"Autauga County, Alabama",748.02,22.58,73.0,28.28,378.61,26516.9,66565.22,27.72,86.34,10.79,0.55,0.29,0.41,0.0,1.62,0.0,4.0,2.0,2.75,5.49,1,0,0
1,10010201001,2001,201.1,"Autauga County, Alabama",748.02,22.58,74.0,28.28,378.61,26516.9,66565.22,27.72,86.34,10.79,0.55,0.29,0.41,0.0,1.62,0.0,3.0,2.0,2.71,4.06,0,0,0
2,10010201001,2002,201.1,"Autauga County, Alabama",748.02,22.58,75.0,28.28,378.61,26516.9,66565.22,27.72,86.34,10.79,0.55,0.29,0.41,0.0,1.62,0.0,6.0,1.0,1.34,8.02,0,0,0
3,10010201001,2003,201.1,"Autauga County, Alabama",748.02,22.58,76.0,28.28,378.61,26516.9,66565.22,27.72,86.34,10.79,0.55,0.29,0.41,0.0,1.62,0.0,5.0,1.0,1.32,6.59,0,0,0
4,10010201001,2004,201.1,"Autauga County, Alabama",748.02,22.58,77.0,28.28,378.61,26516.9,66565.22,27.72,86.34,10.79,0.55,0.29,0.41,0.0,1.62,0.0,1.0,0.0,0.00,1.30,0,1,0

In [86]:
ev_lab_bulk_df.count()

GEOID                         3701970
year                          3701970
name                          3701970
parent-location               3701970
population                    3701490
poverty-rate                  3701490
renter-occupied-households    3701616
pct-renter-occupied           3701490
median-gross-rent             3439995
median-household-income       3660793
median-property-value         3616005
rent-burden                   3476068
pct-white                     3701490
pct-af-am                     3701490
pct-hispanic                  3701490
pct-am-ind                    3701490
pct-asian                     3701490
pct-nh-pi                     3701490
pct-multiple                  3701490
pct-other                     3701490
eviction-filings              2948440
evictions                     2893099
eviction-rate                 2893099
eviction-filing-rate          2948378
low-flag                      3701970
imputed                       3701970
subbed                        3701970
dtype: int64

In [88]:
ev_lab_bulk_df['GEOID'].nunique()

217799

In [89]:
ev_lab_bulk_2016_df = ev_lab_bulk_df.loc[ev_lab_bulk_df['year']==2016].reset_index(drop=True)

In [90]:
ev_lab_bulk_2016_df.head()

,GEOID,year,name,parent-location,population,poverty-rate,renter-occupied-households,pct-renter-occupied,median-gross-rent,median-household-income,median-property-value,rent-burden,pct-white,pct-af-am,pct-hispanic,pct-am-ind,pct-asian,pct-nh-pi,pct-multiple,pct-other,eviction-filings,evictions,eviction-rate,eviction-filing-rate,low-flag,imputed,subbed
0,10010201001,2016,201.1,"Autauga County, Alabama",649.0,6.75,78.0,37.39,753.0,NaN,115300.0,37.9,83.67,13.71,2.62,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0,0,0
1,10010201002,2016,201.2,"Autauga County, Alabama",1299.0,4.35,78.0,22.00,690.0,64511.0,159700.0,26.2,89.30,4.70,0.00,0.46,0.92,0.00,4.62,0.0,1.0,1.0,1.28,1.28,0,0,0
2,10010202001,2016,202.1,"Autauga County, Alabama",1074.0,25.97,116.0,49.86,706.0,28942.0,125500.0,36.6,35.85,57.45,0.00,0.00,1.77,0.00,4.93,0.0,3.0,1.0,0.86,2.59,0,0,0
3,10010202002,2016,202.2,"Autauga County, Alabama",1082.0,13.30,157.0,31.32,911.0,39583.0,96500.0,27.7,45.01,49.17,1.57,0.00,2.87,0.00,1.39,0.0,4.0,1.0,0.64,2.55,0,0,0
4,10010203001,2016,203.1,"Autauga County, Alabama",2143.0,4.73,161.0,18.14,921.0,52532.0,110100.0,24.7,70.98,21.28,0.00,0.70,0.51,0.37,6.16,0.0,5.0,3.0,1.86,3.11,0,0,0

In [91]:
ev_lab_bulk_2016_df.count()

GEOID                         217799
year                          217799
name                          217799
parent-location               217799
population                    217739
poverty-rate                  217739
renter-occupied-households    217740
pct-renter-occupied           217739
median-gross-rent             178241
median-household-income       211240
median-property-value         204660
rent-burden                   183890
pct-white                     217739
pct-af-am                     217739
pct-hispanic                  217739
pct-am-ind                    217739
pct-asian                     217739
pct-nh-pi                     217739
pct-multiple                  217739
pct-other                     217739
eviction-filings              183740
evictions                     179871
eviction-rate                 179871
eviction-filing-rate          183733
low-flag                      217799
imputed                       217799
subbed                        217799
dtype: int64

# Join data

In [52]:
hta_analysis_df.dtypes

blkgrp                          object
cbsa                            object
blkgrps                        float64
population                     float64
households                     float64
land_acres                     float64
ht_ami                         float64
ht_80ami                       float64
ht_nmi                         float64
h_ami                          float64
h_80ami                        float64
h_nmi                          float64
t_ami                          float64
t_80ami                        float64
t_nmi                          float64
co2_per_hh_local               float64
co2_per_acre_local             float64
autos_per_hh_ami               float64
autos_per_hh_80ami             float64
autos_per_hh_nmi               float64
vmt_per_hh_ami                 float64
vmt_per_hh_80ami               float64
vmt_per_hh_nmi                 float64
pct_transit_commuters_ami      float64
pct_transit_commuters_80ami    float64
pct_transit_commuters_nmi      float64
t_cost_ami                     float64
t_cost_80ami                   float64
t_cost_nmi                     float64
auto_ownership_cost_ami        float64
auto_ownership_cost_80ami      float64
auto_ownership_cost_nmi        float64
vmt_cost_ami                   float64
vmt_cost_80ami                 float64
vmt_cost_nmi                   float64
transit_cost_ami               float64
transit_cost_80ami             float64
transit_cost_nmi               float64
transit_trips_ami              float64
transit_trips_80ami            float64
transit_trips_nmi              float64
compact_ndx                    float64
emp_ovrll_ndx                  float64
res_density                    float64
gross_hh_density               float64
hh_gravity                     float64
frac_sfd                       float64
emp_gravity                    float64
emp_ndx                        float64
block_size                     float64
intersection_density           float64
avg_block_perimeter_meters       int64
h_cost                         float64
median_smoc                    float64
median_gross_rent              float64
pct_owner_occupied_hu          float64
pct_renter_occupied_hu         float64
state                           object
dtype: object

In [75]:
hta_analysis_df['blkgrp'] = hta_analysis_df['blkgrp'].astype(float)

In [92]:
ev_lab_bulk_2016_df.dtypes

GEOID                           int64
year                            int64
name                           object
parent-location                object
population                    float64
poverty-rate                  float64
renter-occupied-households    float64
pct-renter-occupied           float64
median-gross-rent             float64
median-household-income       float64
median-property-value         float64
rent-burden                   float64
pct-white                     float64
pct-af-am                     float64
pct-hispanic                  float64
pct-am-ind                    float64
pct-asian                     float64
pct-nh-pi                     float64
pct-multiple                  float64
pct-other                     float64
eviction-filings              float64
evictions                     float64
eviction-rate                 float64
eviction-filing-rate          float64
low-flag                        int64
imputed                         int64
subbed                          int64
dtype: object

In [93]:
ev_lab_bulk_2016_df['GEOID'] = ev_lab_bulk_2016_df['GEOID'].astype(float)

In [94]:
joined_analysis_df = hta_analysis_df.merge(ev_lab_bulk_2016_df,left_on='blkgrp',right_on='GEOID')

In [95]:
joined_analysis_df.head()

,blkgrp,cbsa,blkgrps,population_x,households,land_acres,ht_ami,ht_80ami,ht_nmi,h_ami,h_80ami,h_nmi,t_ami,t_80ami,t_nmi,co2_per_hh_local,co2_per_acre_local,autos_per_hh_ami,autos_per_hh_80ami,autos_per_hh_nmi,vmt_per_hh_ami,vmt_per_hh_80ami,vmt_per_hh_nmi,pct_transit_commuters_ami,pct_transit_commuters_80ami,pct_transit_commuters_nmi,t_cost_ami,t_cost_80ami,t_cost_nmi,auto_ownership_cost_ami,auto_ownership_cost_80ami,auto_ownership_cost_nmi,vmt_cost_ami,vmt_cost_80ami,vmt_cost_nmi,transit_cost_ami,transit_cost_80ami,transit_cost_nmi,transit_trips_ami,transit_trips_80ami,transit_trips_nmi,compact_ndx,emp_ovrll_ndx,res_density,gross_hh_density,hh_gravity,frac_sfd,emp_gravity,emp_ndx,block_size,intersection_density,avg_block_perimeter_meters,h_cost,median_smoc,median_gross_rent,pct_owner_occupied_hu,pct_renter_occupied_hu,state,GEOID,year,name,parent-location,population_y,poverty-rate,renter-occupied-households,pct-renter-occupied,median-gross-rent,median-household-income,median-property-value,rent-burden,pct-white,pct-af-am,pct-hispanic,pct-am-ind,pct-asian,pct-nh-pi,pct-multiple,pct-other,eviction-filings,evictions,eviction-rate,eviction-filing-rate,low-flag,imputed,subbed
0,4.013061e+10,"Phoenix-Mesa-Scottsdale, AZ",1.0,603.0,161.0,161.70,42.0,50.0,42.0,19.0,24.0,19.0,23.0,26.0,23.0,8.63,8.60,1.67,2.0,2.0,20079.0,17748.0,19925.0,3.0,4.0,3.0,12338.0,11151.0,12322.0,9106.0,8292.0,9115.0,3220.0,2846.0,3195.0,12.0,13.0,12.0,13.0,14.0,13.0,7.5,5.3,2.20,1.00,25032.0,55.0,14458.0,88.0,10.0,109.0,828,860.0,1039.0,742.0,40.0,60.0,az,4.013061e+10,2016,609.04.1,"Maricopa County, Arizona",603.0,19.27,123.0,60.25,742.0,33625.0,57300.0,18.1,34.83,0.83,60.36,0.00,0.00,0.00,0.00,3.98,NaN,NaN,NaN,NaN,0,0,0
1,4.013110e+10,"Phoenix-Mesa-Scottsdale, AZ",1.0,2283.0,550.0,208.83,42.0,50.0,42.0,19.0,24.0,19.0,23.0,26.0,23.0,8.01,21.10,1.72,2.0,2.0,18699.0,16734.0,18581.0,6.0,7.0,6.0,12399.0,10982.0,12316.0,9379.0,8276.0,9315.0,2999.0,2683.0,2980.0,22.0,23.0,22.0,24.0,26.0,24.0,7.0,5.0,9.84,2.63,34717.0,70.0,36272.0,92.0,8.0,187.0,727,861.0,918.0,799.0,52.0,48.0,az,4.013110e+10,2016,1099.3,"Maricopa County, Arizona",2283.0,43.28,271.0,48.18,799.0,21959.0,55500.0,33.8,5.48,8.54,85.98,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0,0,0
2,4.013061e+10,"Phoenix-Mesa-Scottsdale, AZ",1.0,824.0,220.0,117.03,52.0,62.0,52.0,27.0,33.0,27.0,25.0,29.0,25.0,11.31,21.25,1.86,2.0,2.0,22311.0,19998.0,22158.0,2.0,2.0,2.0,13682.0,12387.0,13645.0,10098.0,9174.0,10086.0,3578.0,3207.0,3553.0,6.0,6.0,6.0,7.0,7.0,7.0,5.7,2.2,3.44,1.88,18034.0,88.0,8027.0,87.0,9.0,283.0,1114,1191.0,1432.0,880.0,56.0,44.0,az,4.013061e+10,2016,610.32.4,"Maricopa County, Arizona",824.0,0.00,81.0,43.64,880.0,81250.0,157900.0,16.7,54.73,5.58,29.25,4.73,0.00,0.00,5.70,0.00,NaN,NaN,NaN,NaN,0,0,0
3,4.013217e+10,"Phoenix-Mesa-Scottsdale, AZ",1.0,201.0,130.0,72.82,58.0,68.0,57.0,34.0,42.0,34.0,24.0,26.0,24.0,5.01,8.94,1.76,2.0,2.0,20321.0,17604.0,20073.0,3.0,3.0,3.0,12837.0,11259.0,12708.0,9567.0,8425.0,9477.0,3259.0,2823.0,3219.0,12.0,11.0,12.0,13.0,12.0,13.0,5.9,7.1,28.33,1.79,24598.0,54.0,39081.0,91.0,5.0,220.0,707,1514.0,1514.0,NaN,88.0,12.0,az,4.013217e+10,2016,2169.01.3,"Maricopa County, Arizona",201.0,12.50,55.0,11.54,NaN,68194.0,283000.0,NaN,95.52,0.00,4.48,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0,0,0
4,4.021001e+10,"Phoenix-Mesa-Scottsdale, AZ",1.0,2653.0,827.0,30248.83,55.0,65.0,54.0,26.0,32.0,26.0,29.0,33.0,29.0,10.62,0.29,2.10,2.0,2.0,25504.0,22972.0,25294.0,0.0,0.0,0.0,15530.0,14294.0,15487.0,11440.0,10610.0,11431.0,4090.0,3684.0,4056.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.2,0.79,0.03,1793.0,74.0,1740.0,83.0,121.0,16.0,2336,1149.0,1293.0,907.0,63.0,37.0,az,4.021001e+10,2016,12.1,"Pinal County, Arizona",2653.0,8.09,226.0,37.24,907.0,54922.0,126300.0,31.9,47.57,0.94,39.39,6.71,1.06,0.57,3.77,0.00,NaN,NaN,NaN,NaN,0,0,0

# Checking Counts

In [78]:
# checking hta data

hta_analysis_df['blkgrp'].count()

77993

In [79]:
hta_analysis_df['blkgrp'].nunique()

77993

In [96]:
ev_lab_bulk_2016_df['GEOID'].count()

217799

In [97]:
ev_lab_bulk_2016_df['GEOID'].nunique()

217799

In [98]:
joined_analysis_df['GEOID'].count()

77993

# Exporting dataframe

In [99]:
joined_analysis_df.to_csv(data_directory+'joined_analysis_df_20200405_0000.csv')